
<!DOCTYPE html>
{% load staticfiles %}
<html>
<title>PrevenT SolitudE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel ="stylesheet" href="{% static 'css/Maincss.css'%}">
<link rel ="stylesheet" href="{% static 'css/Registcss.css'%}">
</style>
<script type ="text/javascript">

var body = $('#video');

function aboutpage(){

  
}

</script>
<script src ="{% static 'css/Main.js'%}"></script>
<script src="{% static 'css/Regist.js'%}"></script>



</head>
<body item-height="100%" bgcolor="#474544">

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar" id="myNavbar" style="background-color: black">
  
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu" >
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="w3-bar-item w3-button" onclick="homebutton()"><h4>P T S E</h4></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small" onclick="aboutpage()"><i class="fa fa-bars" ></i> About</a>
      <a href="/schedule" class="w3-bar-item w3-button w3-hide-small" ><i class="fa fa-calendar"></i> To-Do</a>
      <a href="/information" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-address-book" ></i> Information</a>
     
      <a href="/nowshowing" class="w3-bar-item w3-button w3-hide-small" ><i class="fa fa-camera" ></i> Now-showing</a>
      {% if request.session.userid %}
      <a href="/logout" class="w3-bar-item w3-button w3-hide-small" onclick="logout" id="logout" ><i class="fa fa-user" ></i> Log-out </a>
      
      {% else %}
      <a href="#" class="w3-bar-item w3-button w3-hide-small" onclick="login()" id="login" ><i class="fa fa-user" ></i> Log-in </a>
      {% endif %}
  
    </div> 
 
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
   

  </div>
</div>

<div id ="about-page">
  <br><br><br>
  <font color="#fffffff"><p><h1>P</h1>reven<h1>T</h1> <h1>S</h1>olitud<h1>E</h1><br>
 
  PTSE는 사회복지사들의 편의를 위해 만들어졌습니다.<br>
  1인 가구 증가 저출산,고령화 가족해체 등의 사회 변화로 사회적 관계망이 약화되면서  고독사가 증가 하고 있다. <br>
  노인들의 숫자 보다 독거노인을 관리하는 사람들의 숫자도 부족하여 사회복지사의 인원 증가도 필요한 시점이지만 <br>
  사회 복지사를 직업으로 하고싶은 사람들의 수치는 낮게 나타내고 있습니다.<br>
  점점 고령화와 1인가구, 핵가족화가 증가하지만 이에 따른 사회적인 상황은 대처하지 못하고 있고<br>
   앞으로도 대처하지 못할 것으로 보여서 이러한 서비스가 필요하다고 생각이 들었습니다.<br><br><br><br>
  <p>
      - 사회 복지사 혹은 노인요양사의 인력의 효율성이 좋아진다.<br>
      - 기존에 존재하고있던 시스템보다 높은 효율성<br>
      - 독거사 혹은 안전사고 발생시 빠른 대처 가능<br>
      - 실시간으로 보내는 사진을 스마트액자화로 볼 수 있어서 고독함 감소<br>
      - 체계적인 보호를 받을 수 있다.<br>
      - 사회복시가의 실시간 케어 가능<br>
      - 사생활 보호가 되는 동시에 사생활 침해 방지<br>
      - 근무시간외의 시간은 사회복지사의 핸드폰으로 문자전송<br>
      - 사회복지사 외의 사람은 관람 불가<br>
      - 사전 동의를 받은 후 희망자에 한하여 서비스 제공<br>
      - 주로 거주하고있는 방에 웹캠 설치<br>
      - 잠을 자는 것과 움직임을 파악하여 위험알람 제공<br>
      <br><br><br><br><br><br><br><br><br>


  </p>
  </font>
</p>

</div>

<div id="log-in">
    
    <br> <br> <br>
    <h1><font color="#ffffffff"> LOG - IN</font></h1>
    <br>
    <form method="POST" action="/loginuser">     
      {% csrf_token %}
        ID :<br>
        <input type="text" name="UserID" id="idform"><br><br>
        PASSWORD:<br>
        <input type="password" name="UserPW" id="pwform"><br><br><br><br>
        <button type="submit" name="signin" value="" class="css3button">Sign -  in</button><br><br>
      </form> 

      <form method="POST" action="/registuser">     
        {% csrf_token %}
        <button type="submit" id ="registerbutton"class="css3button" onclick="register()">Register </button>
     </form>
</div>
</div>



<div id = "registform">
        <font color="#ffffffff">

 {% if request.session.userno %}
 <!--<h4>no :&nbsp; &nbsp; &nbsp; {{request.session.userno}}</h4>
 <h4>ID :&nbsp; &nbsp; &nbsp; {{request.session.userid}}</h4>
 <h4>Name :&nbsp; &nbsp; &nbsp; {{request.session.username}}</h4>
 <h4>Tel :&nbsp; &nbsp; &nbsp; {{request.session.usertel}}</h4>
 
 -->
 <h4>{{request.session.userid}}&nbsp; 님의&nbsp;&nbsp;   TO-DO&nbsp; List </h4>
 <form action="/writetodo" method="GET">
  {% csrf_token %}
 <textarea cols=50 rows=3 id = "todolist"></textarea><br>
 <button type="submit" class ="smallcss3button">작성하기</button>
</form>


<div id = "nowTodoList">
  <li></li>
</div>
 



 {% else %}
 <h2><br><br>로그인 을 먼저 해주셔야 합니다.</h2>
 <h4>아이디가 없다면 귀사의 회원가입을 해주시고 진행을 부탁 드립니다.</h4>
 <h5>*상단의 log-in 을 눌러 회원가입 및 로그인을 수행 하실 수 있습니다*</h5>
 {% endif %}

   

</form>
</div>
</font>
</div>
  













</body>

</html>
